* {
    box-sizing: border-box;
}

#gamepage h1 {
    text-align: center;
}


.displayPlayer {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.gameboard {
    display: flex;
    width: 300px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.block {
    background-color: white;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.announcer {
    text-align: center;
    visibility: hidden;
}

.game-restart {
    margin: 20px auto;
    display: block;
}
