* {
    box-sizing: border-box;
}

body {
    background-image: url(./images/background1.jpg);
    background-size: cover;
}

#gamepage header {
    display: block;
    background-color: #feccc4;
    border: 2px solid #e3aeae;
    border-radius: 10px;
}

#gamepage h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: rgba(161, 121, 18, 0.938);
    letter-spacing: 4px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.displayPlayer {
    text-align: center;
    font-family: 'Life Savers', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    text-shadow: #ee8f8f 1px 0 15px;
}

.player {
    font-family: 'Life Savers', cursive;
    font-size: 25px;
    font-weight: bolder;
    text-shadow: #FC0 1px 0 15px;
}

.gameboard {
    display: flex;
    width: 460px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.block {
    background-color: white;
    width: 150px;
    height: 150px;
    border: 2px solid #b4d3db;
    border-radius: 10px;
    margin: 1px;
    cursor: pointer;
}

.hidden {
    /* display: none; */
}

#resultpage {
    text-align: center;
    font-family: 'Life Savers', cursive;
    font-size: 30px;
    background-color: rgba(242, 218, 186, 0.5);
    padding: 50px;
    /* position: relative;
    z-index: 3; */
}

.announcer {
    text-align: center;
    visibility: hidden;
    padding: 10px;
}

button {
    margin: 20px auto;
    display: block;
    font-size: 20px;
    font-family: 'Handlee', cursive;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(198, 198, 198);
    
}
